#checkers {
    width: 640px;
    height: 640px;
    margin: 0.5em;
    border: 2px solid #808080;
}

.checkerCell {
    float: left;
    width: 80px;
    height: 80px;
}

.black{
    background-color: #000;
}

.white{
    background-color: #fff;
}

.circlePiece {
    height: 100%;
    width: 100%;
    border: solid;
    border-radius: 50%;
    border-color: white;
    display: inline-block;
}

.squarePiece {
    height: 50%;
    width: 50%;
    border: solid;
    border-color: white;
    display: inline-block;
}

.redPiece{
    background-color: red;
}


.blackPiece{
    background-color: black;

}


.orangePiece{
    background-color: orange;

}


.pinkPiece{

    background-color: pink;
}


.bluePiece{
    background-color: blue;

}

.greenPiece{
    background-color: green;
}